<?xml version="1.0"?>
<appSettings>
  <!--
    <add key="MailFrom" value="ismaelmasso.pruebas@gmail.com"/>
    <add key="MailTo" value="isma1001@hotmail.com"/>
  -->
  <add key="MailFrom" value="solicitud_web@dahor.com"/>
  <add key="MailTo" value="dhornero@dahor.com"/>
  <!--
      "FormatoMailPresup" y "FormatoMailCand" especifica el formato del correo
      electrónico para presupuestos y candidaturas respectivamente. 
      Los posibles valores son: txt y html
    -->
  <add key="FormatoMailPresup" value="html"/>
  <add key="FormatoMailCand" value="html"/>
</appSettings>