<?xml version="1.0"?>
<!-- Para cambiar cualquier dato eliminar la sección <smtp> actual y reemplazarla por lo siguiente
           con los nuevos datos:
           El puerto es el 25 pero para evitar que los provedores de ADSL lo corten usamos el 587 (predeterminado)
  <smtp from="solicitud_web@dahor.com">
    <network host="mail.dahor.com" port="25" userName="solicitud_web@dahor.com" password="fimazo90"/>
  </smtp>
-->
<smtp from="solicitud_web@dahor.com">
  <network host="smtp.gmail.com" password="00000000a" port="587" userName="ismaelmasso.pruebas"/>
</smtp>