<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DAHOREntities" connectionString="metadata=res://*/Model_Dahor.csdl|res://*/Model_Dahor.ssdl|res://*/Model_Dahor.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IECISA8\SQLEXPRESS;Initial Catalog=DAHOR;Persist Security Info=True;User ID=dhornero;Password=dahorweb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  <add name="DAHOREntities" connectionString="metadata=res://*/Model_Dahor.csdl|res://*/Model_Dahor.ssdl|res://*/Model_Dahor.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql1.servidoreswindows.net;Initial Catalog=DAHOR;Persist Security Info=True;User ID=dhornero;Password=dahorweb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>